body {
    --color-primary: hsl(0 0% 86%);
    --color-neutral: hsl(201, 79%, 50%);
    --color-accent-primary: hsl(165, 50%, 50%);
    --color-accent-secondary: hsl(353, 78%, 66%);

    @supports (color: oklch(50% 0.1 120)) {
        --oklch-primary: oklch(86% 0 0);
        --oklch-neutral: oklch(61% 0.21 250);
        --oklch-accent-primary: oklch(71% 0.13 180);
        --oklch-accent-secondary: oklch(64% 0.26 20);
    }
}

.primary,
.neutral,
.accent-primary,
.accent-secondary {
    --dark-3: color-mix(in hsl, var(--color) 70%, black 30%);
    --dark-2: color-mix(in hsl, var(--color) 60%, black 20%);
    --dark-1: color-mix(in hsl, var(--color) 85%, black 15%);
    --light-1: color-mix(in hsl, var(--color) 80%, white 20%);
    --light-2: color-mix(in hsl, var(--color) 65%, white 35%);

    --dark-3: color-mix(in oklch, var(--color) 80%, black 50%);
    --dark-2: color-mix(in oklch, var(--color) 65%, black 35%);
    --dark-1: color-mix(in oklch, var(--color) 80%, black 20%);
    --light-1: color-mix(in oklch, var(--color) 70%, white 30%);
    --light-2: color-mix(in oklch, var(--color) 40%, white 60%);
}

.primary {
    --color: var(--oklch-primary, var(--color-primary));
}

.neutral {
    --color: var(--oklch-neutral, var(--color-neutral));
}

.accent-primary {
    --color: var(--oklch-accent-primary, var(--color-accent-primary));
}

.accent-secondary {
    --color: var(--oklch-accent-secondary, var(--color-accent-secondary));
}